---
- name: Install MySQL
  apt:
    name: "{{ mysql_packages }}"
    state: present

- name: Install PyMySQL dependency for Ansible MySQL modules
  apt:
    name: python3-pymysql
    state: present

- name: Start and enable MySQL
  service:
    name: mysql
    state: started
    enabled: yes

- name: Wait for MySQL socket
  wait_for:
    path: /var/run/mysqld/mysqld.sock
    state: present
    timeout: 30

- name: Set MySQL root password
  community.mysql.mysql_user:
    name: root
    password: "{{ mysql_root_password }}"
    host: localhost
    login_user: root
    config_file: /dev/null
    login_unix_socket: /var/run/mysqld/mysqld.sock
    check_implicit_admin: true
    state: present

- name: Create database
  community.mysql.mysql_db:
    name: "{{ mysql_db_name }}"
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"
    config_file: /dev/null
    login_unix_socket: /var/run/mysqld/mysqld.sock
    check_implicit_admin: true

- name: Create database user
  community.mysql.mysql_user:
    name: "{{ mysql_user }}"
    password: "{{ mysql_password }}"
    priv: "{{ mysql_db_name }}.*:ALL"
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"
    config_file: /dev/null
    login_unix_socket: /var/run/mysqld/mysqld.sock
    check_implicit_admin: true
