---
- name: Ensure app directory exists
  file:
    path: "{{ app_dir }}"
    state: directory
    owner: root
    group: www-data
    mode: '0755'

- name: Deploy PHP application
  template:
    src: index.php.j2
    dest: "{{ app_dir }}/index.php"
    owner: root
    group: www-data
    mode: '0644'
