---
- name: Install PHP and modules
  apt:
    name: "{{ php_packages }}"
    state: present

- name: Enable PHP module in Apache
  community.general.apache2_module:
    name: php8.3
    identifier: php8_module
    state: present
  register: php_module_result
  failed_when: >
    php_module_result.rc != 0 and
    'already enabled' not in (php_module_result.stderr | default('')) and
    'already enabled' not in (php_module_result.stdout | default(''))
  changed_when: >
    php_module_result.rc == 0 and
    'already enabled' not in (php_module_result.stderr | default('')) and
    'already enabled' not in (php_module_result.stdout | default(''))
  notify: Restart Apache
