---
- name: Install PHP and modules
  apt:
    name: "{{ php_packages }}"
    state: present

- name: Enable PHP module in Apache
  apache2_module:
    name: php8.2
    state: present
  notify: Restart Apache
